# ~/.gitconfig — multi-platform (managed by chezmoi)

[user]
	name = Steekell
	email = {{ if and (hasKey . "email") .email }}{{ .email }}{{ else }}steekell@protonmail.com{{ end }}
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = {{ if eq .chezmoi.os "windows" }}true{{ else }}input{{ end }}
{{- if eq .chezmoi.os "windows" }}
	longpaths = true
{{- end }}
[pull]
	rebase = true
[fetch]
	prune = true
[push]
	default = simple
	autoSetupRemote = true
[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
	helper = manager
{{- else }}
	helper = cache --timeout=28800
{{- end }}
{{- if ne .chezmoi.os "windows" }}
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
{{- end }}
[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate -20
